*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  min-height: 100vh;
  width: 100vw;

  font-family: "Lato", sans-serif;
  background-color: #122;
}

/*  */
nav {
  position: sticky;
  top: 0;
  background-color: rgb(17, 34, 34, 0.2);
  /* width: 100%; */
  z-index: 1000;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

nav #logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-color: #070707;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

#logo h1 {
  text-align: right;
  color: #fff;
}

ul {
  float: right;
}

li {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0;
  margin-right: 1rem;
  text-transform: capitalize;

  transition: all 0.5s ease;
  backface-visibility: hidden;
}

li:hover {
  background-color: rgba(17, 34, 34, 0.802);
}

#logo a,
li a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

#logo a h1 {
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

#logo a h1:hover {
  letter-spacing: 0.5rem;
}

/*  */
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: scroll;
  position: relative;

  /* overflow: visible; */
}

section > * {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100vw / 4);

  height: 95vh;
  font-weight: 300;
  backface-visibility: hidden;
}

section > *:hover {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: rgba(238, 238, 238, 0);
}

section > :not(*:hover) {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: rgba(238, 238, 238, 0.323);
}

section > * .sub_header-box {
  padding: 0.3rem 0.5rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(17, 34, 34, 0.042);
}

#section-1 > * {
  height: calc(100vh / 3);
}

#section-1 > *:not(:last-child),
#section-5 > *:not(:last-child) {
  margin-bottom: 5px;
}
#section-5 .notifications_box {
  height: 40vh;
}

#section-5 .chats_messages_box {
  height: 60vh;
}

section #section-3 {
  overflow: scroll;
  max-height: 95vh;

  align-items: center;
  padding: 0;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  width: 100%;
  height: max-content;
  margin-bottom: 10px;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(17, 34, 34, 0.474);

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.303);
  z-index: 10;
}

.topMarginAnimation {
  animation: topMargin 200ms ease-in-out 50ms forwards;
}

@keyframes topMargin {
  from {
    transform: translateY(-20%);
  }

  95% {
    transform: translateY(5px);
  }

  98% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

input {
  background-color: #eee;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;

  max-height: 30rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  outline: none;
  border: 1px solid #eee;
}
input:not(:last-child) {
  width: 75%;
  background-color: rgba(238, 238, 238, 0.337);
  border: 1px solid transparent;
}
input:not(:last-child):focus {
  animation: focusWidth 420ms ease-in-out both;
}

input:not(:last-child):focus + * {
  display: none;
}

@keyframes focusWidth {
  to {
    border: 1px solid rgba(17, 34, 34, 0.111);
    background-color: rgba(17, 34, 34, 0.241);
    width: 100%;
  }
}

.status-box,
.delete-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  width: 100%;
  border-bottom: 1px solid rgba(17, 34, 34, 0.22);
  background-color: #fff;

  transform-origin: center top;
  backface-visibility: hidden;
}

.status-box:not(:last-child) {
  margin-bottom: 5px;
}

.delete-box {
  justify-content: space-around;
  width: 98%;
  padding-top: 0.9rem;
  border-radius: 5px;

  background-color: rgba(238, 238, 238, 0.59);
  color: #122;
  box-shadow: 1px 1px 5px rgba(17, 34, 34, 0.481);

  backface-visibility: hidden;
  transform-origin: center center;
}

.status-box + .delete-box {
  margin: -4px 0 1px 0;
}

form + .delete-box {
  margin: -9px 0 1px 0;
}

.scaleAnimation {
  animation: scale 200ms linear 50ms forwards;
}

@keyframes scale {
  from {
    transform: scale(0.9);
  }
  98% {
    transform: scale(1);
  }
  99% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.status-info {
  display: flex;
  align-items: center;
  width: 97%;
  padding: 0rem 0.1rem 0.2rem 0.1rem;
  border-bottom: 1px solid rgba(17, 34, 34, 0.4);
}

.status-info .user-image-box {
  height: 4rem;
  width: 4rem;
  clip-path: circle(50% at 50% 50%);
  align-self: center;
}

.status-info .user-image {
  height: 4rem;
  width: 4rem;
}

.status-info p {
  flex: 1 0 0;
  padding-left: 0.5rem;
}

.status-info p :first-child {
  display: block;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.status-info p :not(:first-child) {
  display: inline-block;
  background-color: rgba(71, 255, 126, 0.186);
  color: rgba(17, 34, 34, 0.809);
  padding: 0.1rem 0.3rem;
  font-weight: 700;
  border: 1px solid rgba(71, 255, 126, 0.378);
  border-radius: 10px;
}

.status-info p + span {
  font-size: 1.7rem;
}

.status-content,
.delete-content {
  width: 100%;
  padding: 1rem 0.5rem;

  font-size: 1.3rem;
  line-height: 1.7rem;
  word-spacing: 0.04rem;
  word-wrap: break-word;
}

.delete-content {
  text-align: center;
}

.status-content-dialog,
.delete-dialog {
  display: flex;
  justify-content: space-around;
  position: relative;

  width: 80%;
  border-top: 1px solid rgba(17, 34, 34, 0.22);
}

.status-content-dialog > span > *,
.delete-dialog > span > * {
  display: inline-block;
  padding: 0.9rem 1px;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
}

.status-content-dialog > span > * {
  color: rgba(17, 34, 34, 0.624);
  transition: color 0.3s ease;
}

.status-content-dialog:hover > span > *,
.delete-dialog > span > * {
  color: #122;
}

#panel {
  align-items: center;
  justify-content: flex-start;

  width: 50vw;
  background-color: #eee;

  padding: 2.5rem 5rem;
  overflow: scroll;
}

#panel > .status-box {
  position: relative;

  justify-content: space-between;
  margin-top: 5rem;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
  border-radius: 3rem 3rem 0 0;
  background-color: transparent;

  overflow: scoll;
}

.status-box #com-ply {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0px;

  transform-origin: center center;
  transform-box: fill-box;
}

.translateandscaley {
  animation: translateandscaley 200ms ease-in-out forwards;
}

@keyframes translateandscaley {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  99% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#com-ply #comment {
  outline: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: transparent;
  border: 0.5px solid rgba(17, 34, 34, 0.234);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.152);

  padding: 0.5rem;

  width: 95%;
  height: 10rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px rgba(68, 68, 68, 0.097);
  margin-bottom: 5px;
}

#com-ply #comment + * {
  padding: 0.5rem 2rem;
  margin: unset;
  border-radius: 20px;
  background-color: #444;
  font-weight: normal;
}

#panel > .status-box .status-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 0 1rem 0;
  /* margin-bottom: 5rem; */
  width: 50%;
  border: none;
}

#panel > .status-box .status-info .username {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0.5rem 0;
}
#panel > .status-box .status-info + * {
  padding: 1rem 4rem;
  line-height: 1.4;
  word-spacing: 1;
  /* font-size: 1.5rem; */
}

#panel > .status-box .user-image-box {
  clip-path: circle(50% at 50%, 50%);
  width: 10rem;
  height: 10rem;
  margin-top: -4rem;
}

#panel > .status-box .user-image-box .user-image {
  height: 10rem;
  width: 10rem;
}

#panel > .status-box .status-content-dialog {
  width: 50%;
  align-items: center;
  margin-top: 1rem;
  border: none;
}

#panel .delete-box {
  padding: 1rem 6rem 0 6rem;
  width: 80%;
  align-self: center;
}

#panel .delete-box ~ * {
  display: none;
}

#panel .status-popup {
  margin-top: -23rem;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 2rem;
  transform-origin: center bottom;
  transform-box: fill-box;
  transform: scaleY(0);
  box-shadow: 2px 2px 0.5px rgba(17, 34, 34, 0.152);
  border: 2px;

  padding: 0.8rem 1rem;

  z-index: 0;

  bottom: 4.3rem;
}

.scaleyAnimation {
  animation: scaley 150ms ease-in forwards;
}

@keyframes scaley {
  98% {
    transform: scaleY(1.2);
  }
  to {
    transform: scaleY(1);
  }
}

#panel .status-popup > * {
  padding: 0.8rem 5rem;
}

#panel .status-popup > *:not(:last-child) {
  border-right: none;
  border-bottom: 1px solid rgba(17, 34, 34, 0.063);
}

.status-popup + .comment-box {
  margin-top: 4.5rem;
  z-index: 100000000;
}

.status-popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem 0.5rem;
  width: 98%;

  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;

  background-color: #fff;
  border-radius: 4px;

  margin: -4px 0 1px 0;

  transform-origin: center center;
}

.status-popup > * {
  padding: 0rem 0.5rem;
}

.status-popup > *:not(:last-child) {
  border-right: 1px solid rgba(17, 34, 34, 0.919);
}

.status-popup a {
  text-decoration: none;
  color: #122;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
}

.comment:not(:first-child) {
  /* margin-top: 5px; */
  border-top: 0.5px solid rgba(17, 34, 34, 0.179);
}

.comment-box .comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  position: relative;
  padding: 2rem 3.5rem 0.8rem 3.5rem;
  z-index: 1;
}

.comment-box .comment::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;

  transform-origin: center;
}

.comment-box .comment:hover::before {
  background-color: rgba(50, 205, 50, 0.042);
  transform: scale(1);
  transition: all 200ms ease-in-out 100ms;
}
.comment-box .comment:not(:hover)::before {
  background-color: transparent;
  transform: scale(0.5);
  transition: all 200ms ease-in-out 200ms;
}
.comment .status-info {
  background-color: rgba(17, 34, 34, 0.019);
  padding: 5px 2px;
  margin: 0;
  border: none;
}

/* .comment .status */

.comment .status-info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
}

.comment .status-info .date {
  /* background-color: rgba(71, 255, 126, 0.083); */
  background-color: transparent;
  color: rgba(17, 34, 34, 0.809);

  font-weight: 700;
  /* border: 1px solid rgba(71, 255, 126, 0.419); */
  border: transparent;
  border-radius: 10px;
}

.comment .status-info .username {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

.comment .status-imgInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 1.5rem 1.5rem 0.3rem 1rem;
}

.status-imgInfo .user-image-box {
  clip-path: circle(50% at 50% 50%);
  width: 5rem;
  height: 5rem;
}

.status-imgInfo .user-image-box img {
  width: 5rem;
  height: 5rem;
}

.status-imgInfo a {
  text-decoration: none;
  color: unset;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.status-imgInfo .com-ply-content {
  align-self: center;
  padding: 0 0 0 2rem;
}

.comment .comment-dialog {
  width: 35%;

  border-radius: 5rem;
  border: none;

  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;

  overflow: hidden;
  background-color: rgba(71, 255, 126, 0.419);
  background-color: rgba(17, 34, 34, 0.026);
}

.comment .comment-dialog > * {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
}

.comment .comment-dialog > :hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
}

.comment .comment-dialog > .delete:hover {
  background-color: rgba(255, 99, 71, 0.309);
  color: red;
  font-weight: normal;
  text-transform: uppercase;
}

.read-more {
  color: rgb(68, 68, 68);
  border-radius: 0.8rem;
  display: inline-block;
  padding: 1px 8px;
}

.read-more::before {
  content: "...more";
}
