*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  box-sizing: border-box;

  min-height: 100vh;
  width: 100vw;

  font-family: "Lato", sans-serif;
  background-color: #122;
}

/*  */
nav {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  background-color: rgb(17, 34, 34, 0.2);
  background-color: #122;
  width: 100%;
  z-index: 50;
}

nav #logo {
  text-transform: uppercase;
  background-color: #0707073d;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10rem;
}

li {
  list-style: none;
  padding: 1rem 3rem;
  border-radius: 6px;

  text-transform: capitalize;
  text-align: center;

  transition: all 0.5s ease-in-out 100ms;
  backface-visibility: hidden;
}

li:hover {
  background-color: rgba(238, 238, 238, 0.124);
}

#logo a,
li a {
  text-decoration: none;
  color: #eee;
  font-size: 1.4rem;
  font-weight: normal;
  transition: all 0.5s ease-in-out 100ms;
}

li:hover a {
  color: rgba(238, 238, 238, 0.309);
}

#logo a h1 {
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  text-transform: uppercase;

  font-size: 2rem;
  font-weight: normal;
  color: rgb(238, 238, 238);
}

#logo a h1:hover {
  letter-spacing: 0.5rem;
}

/*  */
section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;

  position: relative;
  /* background-color: rgba(238, 238, 238, 0.261); */
}

section > * {
  display: flex;
  flex-direction: column;

  min-height: 95vh;
  font-weight: 300;
  backface-visibility: hidden;
  background-color: #eee;
}

section > :not(#panel, #section-3) {
  flex: 0 1 25vw;
}

section > *:hover {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: rgba(238, 238, 238, 0);
}

section > :not(*:hover) {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: rgba(238, 238, 238, 0.323);
}

section > * .sub_header-box {
  padding: 0.3rem 0.5rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(17, 34, 34, 0.042);
}

#section-1 > * {
  height: calc(100vh / 3);
}

#section-1 > *:not(:last-child),
#section-5 > *:not(:last-child) {
  margin-bottom: 5px;
}
#section-5 .notifications_box {
  height: 40vh;
}

#section-5 .chats_messages_box {
  height: 60vh;
}

section #section-3 {
  overflow: scroll;
  min-height: 95vh;
  width: 40vw;
  background-color: #eee;

  align-items: center;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  width: 100%;
  height: max-content;
  margin: 5px 0px 10px 0;
  padding: 0.5rem 1rem;
  /* border: 0.5px solid rgba(17, 34, 34, 0.104); */
  border-radius: 0.5rem;

  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.303); */
  z-index: 10;
}

.topMarginAnimation {
  animation: topMargin 200ms ease-in-out 50ms forwards;
}

@keyframes topMargin {
  from {
    transform: translateY(-20%);
  }

  95% {
    transform: translateY(5px);
  }

  98% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

#post {
  align-self: stretch;
  height: 8rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: rgba(68, 68, 68, 0.056);
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.075);

  padding: 0.5rem;

  border-radius: 0.5rem;
}

#post ~ [type="submit"] {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);

  width: 35%;
  border-radius: 5rem;
  background-color: rgba(17, 34, 34, 0.026);

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
}

#post ~ [type="submit"]:hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
  text-transform: uppercase;
}

@keyframes focusWidth {
  to {
    border: 1px solid rgba(17, 34, 34, 0.111);
    background-color: rgba(17, 34, 34, 0.241);
    width: 100%;
  }
}

.status-box,
.delete-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  width: 100%;

  background-color: rgba(255, 255, 255, 0.281);

  transform-origin: center top;
  backface-visibility: hidden;
  border: 1px solid rgba(17, 34, 34, 0.172);
  padding: 2rem 2rem 0.5rem 2rem;
  margin-bottom: 5px;
}

.delete-box {
  justify-content: space-around;
  width: 60%;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;

  /* background-color: rgba(238, 238, 238, 0.59); */
  color: #122;
  /* box-shadow: 1px 1px 5px rgba(17, 34, 34, 0.481); */
  border: 1px solid rgba(17, 34, 34, 0.172);

  backface-visibility: hidden;
  transform-origin: center center;
}

.status-box + .delete-box {
  margin: 0px 0 5px 0;
}

form + .delete-box {
  margin: -5px 0 5px 0;
}

.scaleAnimation {
  animation: scale 200ms linear 50ms forwards;
}

@keyframes scale {
  from {
    transform: scale(0.9);
  }
  98% {
    transform: scale(1);
  }
  99% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.status-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem 0.5rem 1rem;
  /* border-bottom: 1px solid rgba(17, 34, 34, 0.138); */
}

.status-info .user-image-box {
  height: 5rem;
  width: 5rem;
  clip-path: circle(50% at 50% 50%);
  align-self: center;
}

.status-info .user-image {
  height: 5rem;
  width: 5rem;
}

.status-info p {
  flex: 1 0 0;
  padding-left: 0.5rem;
}

.status-info p :first-child {
  display: block;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.status-info p :not(:first-child) {
  display: inline-block;
  background-color: rgba(71, 255, 126, 0.186);
  color: rgba(17, 34, 34, 0.809);
  padding: 0.1rem 0.3rem;
  font-weight: 700;
  border: 1px solid rgba(71, 255, 126, 0.378);
  border-radius: 10px;
}

.status-info p + span {
  font-size: 1.7rem;
}

.status-content,
.delete-content {
  width: 100%;
  padding: 1rem 4rem;

  font-size: 1.3rem;
  line-height: 1.7rem;
  word-spacing: 0.04rem;
  word-wrap: break-word;
}

.delete-content {
  text-align: center;
}

.status-content-dialog,
.delete-dialog {
  display: flex;
  justify-content: center;
  position: relative;

  width: 60%;

  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 10px rgba(17, 34, 34, 0.083);
  border-radius: 5rem;
  overflow: hidden;
}

.status-content-dialog {
  align-self: flex-end;
}

.status-content-dialog > span,
.delete-dialog > span {
  padding: 0.8rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;

  transition: all 1000ms ease 100ms;
}

.status-content-dialog > span {
  flex: 1 1 calc(100% / 3);
}
.delete-dialog > span {
  flex: 1 1 calc(100% / 2);
}

.status-content-dialog > span > a,
.delete-dialog > span > a {
  text-decoration: none;
}

.status-content-dialog > span > a,
.delete-dialog > span > a {
  color: rgba(17, 34, 34, 0.624);
}

.status-content-dialog > span:hover,
.delete-dialog > span:hover {
  background-color: rgba(71, 255, 126, 0.2);
}

.status-content-dialog > span:hover > * {
  color: green;
  text-transform: uppercase;
}

.delete-dialog > .delete:hover {
  background-color: rgba(255, 99, 71, 0.563);
}

.delete-dialog > .cancel:hover > * {
  color: green;
}

.delete-dialog > .delete:hover > * {
  color: red;
  text-transform: uppercase;
}

#panel {
  align-items: center;
  justify-content: flex-start;

  width: 50vw;
  background-color: #eee;

  padding: 2.5rem 5rem;
  overflow: scroll;
}

#panel > .status-box {
  position: relative;

  justify-content: space-between;
  margin-top: 5rem;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
  border-radius: 3rem 3rem 0 0;
  background-color: transparent;

  overflow: scoll;
}

.status-box #com-ply {
  margin: unset;
  border: unset;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 80%;

  flex-direction: column;

  background-color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083),
    0.5px 0.5px 20px rgba(17, 34, 34, 0.083),
    0.5px 0.5px 20px rgba(17, 34, 34, 0.083);

  transform-origin: center center;
  transform-box: fill-box;
  z-index: 0;
}

.comment #com-ply {
  flex-direction: column;
  background-color: transparent;

  margin: unset;
  padding: unset;
  border: unset;
  box-shadow: unset;
  z-index: 0;

  transform-origin: right center;
  transform-box: fill-box;
}

.comment #com-ply + .comment-dialog {
  display: none;
}

.translateandscaley {
  animation: translateandscaley 200ms ease-in-out forwards;
}

@keyframes translateandscaley {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  99% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#com-ply #comment {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: rgba(68, 68, 68, 0.056);
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.075);

  padding: 0.5rem;

  width: 100%;
  height: 10rem;
  border-radius: 0.5rem;
}

#com-ply #reply {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: rgba(68, 68, 68, 0.056);
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.075);

  padding: 0.5rem;

  width: 100%;
  border-radius: 0.5rem;
}

#com-ply #comment + * {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);

  width: 35%;
  border-radius: 5rem;
  background-color: rgba(17, 34, 34, 0.026);

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
}

#com-ply #reply + * {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  width: 35%;
  border-radius: 5rem;
  background-color: rgba(17, 34, 34, 0.026);

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
}

#com-ply #comment + *:hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
  text-transform: uppercase;
}

#com-ply #reply + *:hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
  text-transform: uppercase;
}

#panel > .status-box .status-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 0 1rem 0;
  /* margin-bottom: 5rem; */
  width: 50%;
  border: none;
}

#panel > .status-box .status-info .username {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0.5rem 0;
}
#panel > .status-box .status-info + * {
  padding: 1rem 4rem;
  line-height: 1.4;
  word-spacing: 1;
  /* font-size: 1.5rem; */
}

#panel > .status-box .user-image-box {
  clip-path: circle(50% at 50%, 50%);
  width: 10rem;
  height: 10rem;
  margin-top: -4rem;
}

#panel > .status-box .user-image-box .user-image {
  height: 10rem;
  width: 10rem;
}

#panel > .status-box .status-content-dialog {
  width: 50%;
  align-items: center;
  margin-top: 1rem;
  border: none;
}

#panel .delete-box {
  padding: 1rem 6rem 0 6rem;
  width: 80%;
  align-self: center;
}

#panel .delete-box ~ * {
  display: none;
}

#panel .status-popup {
  margin-top: -23rem;
  flex-direction: column;
  align-items: center;

  width: 50%;
  border-radius: 2rem;
  transform-origin: center bottom;
  transform-box: fill-box;
  transform: scaleY(0);
  box-shadow: 2px 2px 0.5px rgba(17, 34, 34, 0.152);
  border: 2px;

  /* padding: 0.8rem 0rem; */

  z-index: 0;

  bottom: 4.3rem;
  background-color: #fff;
}

.scaleyAnimation {
  animation: scaley 150ms ease-in forwards;
}

@keyframes scaley {
  98% {
    transform: scaleY(1.2);
  }
  to {
    transform: scaleY(1);
  }
}

#panel .status-popup > * {
  padding: 0.8rem 5rem;
  width: 100%;
}

#panel .status-popup > *:not(:last-child) {
  border: unset;
  /* border-bottom: 1px solid rgba(17, 34, 34, 0.063); */
}

.status-popup + .comment-box {
  margin-top: 4.5rem;
}

.status-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 70%;

  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;

  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.075);

  border-radius: 4px;

  margin: 0px 0 5px 0;

  transform-origin: center center;
}

.status-popup > span {
  padding: 0.5rem 1rem;
  flex: 1 1 0;
}

.status-popup a {
  text-decoration: none;
  font-size: 0.9rem;

  color: rgba(17, 34, 34, 0.624);
}

.status-popup > span:hover {
  background-color: rgba(17, 34, 34, 0.029);
  text-transform: uppercase;
}

.status-popup > span:hover a {
  color: #122;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
}

.comment:not(:first-child) {
  /* margin-top: 5px; */
  border-top: 0.5px solid rgba(17, 34, 34, 0.179);
}

.comment-box .comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  position: relative;
  padding: 2rem 3.5rem 0.8rem 3.5rem;
  z-index: 1;
}

.comment-box .comment::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;

  transform-origin: center;
}

.comment-box .comment:hover::before {
  background-color: rgba(50, 205, 50, 0.042);
  transform: scale(1);
  transition: all 200ms ease-in-out 100ms;
}
.comment-box .comment:not(:hover)::before {
  background-color: transparent;
  transform: scale(0.5);
  transition: all 200ms ease-in-out 200ms;
}
.comment .status-info {
  background-color: rgba(17, 34, 34, 0.019);
  padding: 5px 2px;
  margin: 0;
  border: none;
}

/* .comment .status */

.comment .status-info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
}

.comment .status-info .date,
.comment .status-info .edited,
.comment .status-info .replies {
  background-color: transparent;
  color: rgba(17, 34, 34, 0.809);
  font-weight: 700;

  border: unset;
  padding: unset;
  border-radius: unset;
}

.comment .status-info .username {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  flex: 1 0 0;
}

.comment .status-imgInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem 1.5rem 0.3rem 1rem;
}

.status-imgInfo .user-image-box {
  clip-path: circle(50% at 50% 50%);
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
}

.status-imgInfo .user-image-box img {
  width: 5rem;
  height: 5rem;
}

.status-imgInfo a {
  align-self: center;

  text-decoration: none;
  color: unset;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.status-imgInfo .com-ply-content {
  padding: 0 0 0 2rem;
}

.comment .comment-dialog {
  width: 35%;

  border-radius: 5rem;
  border: none;

  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;

  overflow: hidden;
  background-color: rgba(71, 255, 126, 0.419);
  background-color: rgba(17, 34, 34, 0.026);
}

.comment .comment-dialog > * {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
}

.comment .comment-dialog > *:hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
}

.comment .comment-dialog > .delete:hover {
  background-color: rgba(255, 99, 71, 0.309);
  color: red;

  font-weight: normal;
  text-transform: uppercase;
  line-height: 0;
}

.read-more {
  display: inline-block;

  padding: 0 3px;
  border-radius: 2px;
  margin-left: 5px;

  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;

  color: rgba(255, 255, 255, 0.666);
  background-color: rgba(17, 34, 34, 0.63);
}

.read-more::before {
  content: "read more";
}

.alert {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  z-index: 1100000000000000000000000000000;

  background-color: #eee;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.success,
.error {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1rem 2.5rem;
  gap: 0.5rem;
  color: rgba(17, 34, 34, 0.741);
}

.success {
  background-color: rgba(71, 255, 126, 0.138);
  color: green;
}

.error {
  background-color: rgba(255, 99, 71, 0.159);
  color: red;
}

.success :last-child,
.error :last-child {
  font-weight: normal;
  color: #122;
}
