*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  /* cursor: default; */
}

:any-link {
  color: #999;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smooth: subpixel-antialiased;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: 1.7;
}

body#home,
body#comment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;
  width: 100%;
  padding: 3rem 3rem 0 3rem;

  background-color: blueviolet;
}

/*  */

.nav {
  display: flex;
  align-items: center;
  background-color: #191919b2;
  width: 100%;
  z-index: 50;
  padding: 0.3rem 5rem;

  position: sticky;
  top: 0rem;
}

.nav > * {
  width: calc(100% / 3);
  gap: auto;
}

.stick {
  background-color: #000;
}

.nav #logo {
  text-transform: uppercase;
  transform-origin: center center;
  color: #fff;

  letter-spacing: 0.7rem;
  font-size: 2rem;
  font-weight: 900;
  padding: 0rem;

  /* clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%); */

  background-image: radial-gradient(circle, #fff, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav.stick #logo {
  background-image: radial-gradient(circle, blue 40%, blueviolet 60%, blue 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav .search-form {
  border: unset;
  padding: unset;
  box-shadow: unset;
  margin: unset;

  background-color: transparent;
}

.nav .search-form .search-input {
  /* align-self: flex-start; */
  width: 19%;

  outline: none;
  border: none;
  padding: 1rem 2rem;
  background-color: #eee;

  border-radius: 5rem;
  transition: width 400ms ease-in-out 100ms;
  transform-origin: right center;
}

.nav .search-form .search-input:focus {
  width: 100%;
}

.nav.stick .search-form .search-input {
  animation: stick 500ms ease forwards;
}

@keyframes stick {
  to {
    background-color: rgba(137, 43, 226, 0.2);
    color: #fff;
  }
}

.nav .profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 6rem;
}

.nav .profile-container > .home,
.nav .profile-container > .logout {
  font-size: 1.5rem;
  font-weight: 700;

  text-decoration: none;
  color: blueviolet;
}

.nav .profile-container .logout {
  color: tomato;
}

.nav .profile-container .user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 0.7rem;
  overflow: hidden;
}

.nav .profile-container .user-profile .user-image {
  clip-path: circle(50% at 50% 50%);
  width: 4rem;
  height: 4rem;
}

.nav .profile-container .user-profile .username {
  /* width: calc(100%); */

  line-height: 1.1;
  color: #f7f7f7;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav .profile-container .user-profile .username a {
  text-decoration: none;
  color: #f7f7f7;

  font-size: 1.4rem;
  font-weight: 400;
  text-transform: lowercase;
}

.dropdown {
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(17, 34, 34, 0.261);
  border-radius: 10px;

  position: absolute;
  right: 8rem;
  top: 110%;
  z-index: 51;

  text-align: center;
  text-transform: capitalize;

  visibility: hidden;
  opacity: 0.5;
  transform: scaleY(0);
  transition: all 100ms ease;
  transform-origin: center top;
}

.dropdown .list1 {
  background-color: #eee;
}

.dropdown .list2 {
  background-color: #191919;
}

.dropdown li {
  text-align: right;
  list-style: none;
}

.dropdown li:not(:last-child) {
  border-bottom: 1px solid rgba(137, 43, 226, 0.083);
}

.dropdown li a {
  display: inline-block;

  font-size: 1.3rem;
  font-weight: 400;

  text-decoration: none;
  color: blueviolet;
  padding: 1rem 4rem;
  width: 100%;
}

.dropdown .list1 li:hover {
  background-color: rgba(137, 43, 226, 0.296);
}

#dropdown:checked + .dropdown {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

/*  */

.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  position: relative;
  width: 100%;

  background-color: #222;
}

.section > * {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  backface-visibility: hidden;
}

.section > :not(#panel):not(#section-3) {
  width: 25%;
  justify-content: space-between;
  padding: 1rem 0.8rem;

  height: calc(100vh - 4.6rem);
}

.section > :not(#panel):not(#section-3) > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: scroll;
}

#section-1 > * {
  height: calc((100%) / 3);
}

#section-5 > *:first-child {
  height: calc(35vh);
}

#section-5 > *:last-child {
  height: calc(55vh - 1rem);
}

.user-info {
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
  gap: 1rem;

  border-radius: 10px;
  padding: 0.5rem;
}

.section > :not(#panel):not(#section-3) .user-info {
  transition: all 200ms linear 100ms;
}

.section > :not(#panel):not(#section-3) .user-info:hover {
  background-color: #892be272;
}

.user-info .username {
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  /* gap: 0.2rem; */
  overflow: hidden;

  font-size: 1.1rem;
  font-weight: 100;
  color: #999;
}

.user-info .username .username_name {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
}

.user-info .username .username_name,
.user-info .username .total-friends {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#section-1 button {
  align-self: center;
  margin-left: auto;
  padding: 0.5rem 2rem;
  outline: none;

  background-color: rgba(50, 205, 50, 0.37);
  color: #999;
  border: none;
  box-shadow: 0.5px 0.5px 5px solid rgb(68, 68, 68);

  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

#section-1 .friend_box button {
  background-color: rgba(255, 99, 71, 0.425);
  border: none;
}

.user-info .user-image-box {
  clip-path: circle(50% at 50% 50%);
  width: 3rem;
  height: 3rem;
  align-self: center;
}

.user-info .user-image-box img {
  width: 3rem;
  height: 3rem;
}

.section > * .sub_header-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  background-color: #191919;

  border-radius: 5px;
  padding: 1rem 0 1rem 2rem;
}

.section > * .sub_header-box a {
  position: relative;
  line-height: 0;

  height: calc(100% + 2rem);
  width: 5rem;

  overflow: hidden;
}

.section > * .sub_header-box > span {
  color: #999;
}

.icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  width: 2rem;
  height: 2rem;
}

.after::after,
.before::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 5px;
  opacity: 0;
}

.after::after {
  background: #892be272;
  transform: scale(0) rotate(270deg);
  transition: all 600ms ease 200ms;
}

.before::before {
  background: #99999980;
  transform: scale(0) rotate(-270deg);
  transition: all 600ms ease;
}

.after:hover::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.before:hover::before {
  opacity: 1;
  transform: scale(1) rotate(0);
}

.section #section-3 {
  overflow: scroll;
  /* min-height: calc(90vh + 2rem); */
  min-height: calc(100vh - 4.6rem);

  width: 50%;

  align-items: center;
  padding: 0;
  /* background-color: #191919b2; */

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  width: 100%;
  height: max-content;
  margin: 0px 0px 10px 0;
  padding: 0.5rem 1rem;
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  border-radius: 0.5rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.303);
  z-index: 10;
}

.topMarginAnimation {
  animation: topMargin 200ms ease-in-out 50ms forwards;
}

@keyframes topMargin {
  from {
    transform: translateY(-20%);
  }

  95% {
    transform: translateY(5px);
  }

  98% {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(0);
  }
}

#post {
  align-self: stretch;
  height: 8rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: #f7f7f7;
  /* border: 0.5px solid rgba(17, 34, 34, 0.104); */
  border: 0.5px solid rgba(137, 43, 226, 0.44);
  box-shadow: 0.5px 0.5px 2px rgba(17, 34, 34, 0.233);

  padding: 0.5rem;

  border-radius: 0.5rem;
}

#post ~ [type="submit"] {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  border: 0.5px solid rgba(137, 43, 226, 0.2);
  /* box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083); */

  width: 35%;
  border-radius: 5rem;
  /* background-color: blueviolet; */

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: uppercase;
  text-align: center;
}

#post ~ [type="submit"]:hover {
  /* background-color: rgba(71, 255, 126, 0.2); */
  color: green;
  /* text-transform: uppercase; */
}

@keyframes focusWidth {
  to {
    border: 1px solid rgba(17, 34, 34, 0.111);
    background-color: rgba(17, 34, 34, 0.241);
    width: 100%;
  }
}

.status-box,
.delete-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #191919;
  color: #fff;
  backdrop-filter: blur(3px);
  border: 1px solid #111;
}

.status-box {
  width: 100%;

  transform-origin: center top;
  backface-visibility: hidden;

  border-radius: 2rem;
  padding: 2rem 4rem 1rem 4rem;
}

.delete-box {
  justify-content: space-around;
  width: 60%;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;

  backface-visibility: hidden;
  transform-origin: center center;
}

.status-box + .delete-box {
  margin: 5px 0 5px 0;
}

form + .delete-box {
  margin: -5px 0 5px 0;
}

.scaleAnimation {
  animation: scale 200ms linear 50ms forwards;
}

@keyframes scale {
  from {
    transform: scale(0.9);
  }
  98% {
    transform: scale(1);
  }
  99% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.status-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem 0.5rem 1rem;
  /* border-bottom: 1px solid rgba(17, 34, 34, 0.138); */
}

.status-info .user-image-box {
  height: 4rem;
  width: 4rem;
  clip-path: circle(50% at 50% 50%);
  align-self: center;
}

.status-info .user-image {
  height: 4rem;
  width: 4rem;
}

.status-info p {
  /* flex: 1 0 0; */
  padding-left: 0.5rem;

  width: 100%;
  overflow: hidden;
  align-self: center;
}

.status-info p :first-child {
  display: block;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: #122;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50%;
}

.status-info p :not(:first-child) {
  display: inline-block;
  background-color: #191919;
  color: #777;
  padding: 0rem 0.3rem;
  font-weight: 700;
  /* border: 1px solid rgba(71, 255, 126, 0.378); */
  border-radius: 10px;
}

.status-info p + span {
  font-size: 1.7rem;
  align-self: flex-start;
}

.status-info + a {
  text-decoration: none;
  color: inherit;
  align-self: flex-start;

  font-size: 1.3rem;
  font-weight: 700;
}

.status-content,
.delete-content {
  width: 100%;
  padding: 1rem 4rem;

  line-height: 1.7rem;
  word-spacing: 0.04rem;
  word-break: break-word;

  font-size: 1.3rem;
  font-weight: 700;

  color: #fff;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.3rem;
}

.delete-content {
  text-align: center;
}

.status-content-dialog,
.delete-dialog {
  display: inline-flex;
  justify-content: space-between;

  width: 60%;

  border: 1px solid rgba(137, 43, 226, 0.186);
  box-shadow: 0px 1px 5px rgba(137, 43, 226, 0.07);
  border-radius: 5rem;
  overflow: hidden;
}

.status-content-dialog {
  align-self: center;
}

.status-content-dialog > a,
.delete-dialog > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  padding: 1rem 0;
  border: none;
  outline: none;
  color: #000;

  font-size: 1.1rem;
  font-weight: 700;

  transition: all 200ms ease;
  gap: 0.2rem;
}

.status-content-dialog > a {
  flex: 1 1 calc(100% / 3);
}
.delete-dialog > a {
  flex: 1 1 calc(100% / 2);
}

.status-content-dialog > a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000;
}

.status-content-dialog > a:hover,
.delete-dialog > a:hover {
  background-color: #892be272;
}

.delete-dialog > .delete:hover {
  background-color: rgba(255, 99, 71, 0.563);
  color: red;
  text-transform: uppercase;
}

.section > #panel {
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 75%;
  background-color: #eee;

  padding: 2.5rem 15rem;
}

#panel > .status-box {
  position: relative;

  justify-content: space-between;
  margin-top: 5rem;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
  border-radius: 3rem 3rem 0 0;
  background-color: #fff;
}

.status-box #com-ply {
  margin: unset;
  border: unset;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 80%;

  flex-direction: column;

  background-color: #fff;
  border-radius: 5px;
  border: 0.5px solid #19191965;
  box-shadow: 0px 0.5px 1px rgba(17, 34, 34, 0.083);

  transform-origin: center center;
  transform-box: fill-box;
  z-index: 0;
}

.comment #com-ply {
  flex-direction: column;
  background-color: transparent;

  margin: unset;
  padding: unset;
  border: unset;
  box-shadow: unset;
  z-index: 0;

  transform-origin: right center;
  transform-box: fill-box;
}

.comment #com-ply + .comment-dialog {
  display: none;
}

.translateandscaley {
  animation: translateandscaley 200ms ease-in-out forwards;
}

@keyframes translateandscaley {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  99% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#com-ply #comment {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: rgba(68, 68, 68, 0.056);
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 10px rgba(17, 34, 34, 0.075);

  padding: 0.5rem;

  width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
}

#com-ply #reply {
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 1.3;

  resize: none;
  background-color: rgba(68, 68, 68, 0.056);
  border: 0.5px solid rgba(17, 34, 34, 0.104);
  box-shadow: 0.5px 0.5px 10px rgba(17, 34, 34, 0.075);

  padding: 0.5rem;

  width: 100%;
  border-radius: 0.5rem;
}

#com-ply #comment + * {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 10px rgba(17, 34, 34, 0.083);

  width: 35%;
  border-radius: 5rem;
  background-color: rgba(17, 34, 34, 0.026);

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
}

#com-ply #reply + * {
  padding: 0.8rem 0;
  margin: unset;
  outline: none;
  border: none;
  margin-top: 0.3rem;

  font-weight: normal;
  align-self: flex-end;

  width: 35%;
  border-radius: 5rem;
  background-color: rgba(17, 34, 34, 0.026);

  font-size: 0.9rem;
  font-weight: 700;

  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
}

#com-ply #comment + *:hover {
  background-color: #892be272;
  color: #191919;
  text-transform: uppercase;
}

#com-ply #reply + *:hover {
  background-color: #892be272;
  color: #191919;
  text-transform: uppercase;
}

#panel > .status-box .status-info {
  flex-direction: column;

  padding: 0 0 1rem 0;

  width: 80%;
  border: none;
}

#panel > .status-box .status-info p {
  text-align: center;

  padding: unset;
}

#panel > .status-box .status-info .username {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 0.5rem 0;

  width: 100%;
}

#panel > .status-box .status-info + * {
  padding: 1rem 4rem;
  line-height: 1.4;
  word-spacing: 1;
  /* font-size: 1.5rem; */
}

#panel > .status-box .user-image-box {
  clip-path: circle(50% at 50%, 50%);
  width: 10rem;
  height: 10rem;
  margin-top: -4rem;
}

#panel > .status-box .user-image-box .user-image {
  height: 10rem;
  width: 10rem;
}

#panel > .status-box .status-content {
  min-height: 40vh;
}

#panel > .status-box .status-content-dialog {
  width: 50%;
  align-items: center;
  align-self: center;

  margin-top: 1rem;
  border: none;
}

#panel .delete-box {
  padding: 1rem 6rem 0 6rem;
  width: 80%;
  align-self: center;
}

#panel .delete-box ~ * {
  display: none;
}

#panel .status-popup {
  margin-top: -23rem;
  flex-direction: column;
  align-items: center;

  width: 50%;
  border-radius: 2rem;
  transform-origin: center bottom;
  transform-box: fill-box;
  transform: scaleY(0);
  box-shadow: 2px 2px 0.5px rgba(17, 34, 34, 0.152);
  border: 2px;

  /* padding: 0.8rem 0rem; */

  z-index: 0;

  bottom: 4.3rem;
  background-color: #fff;
}

.scaleyAnimation {
  animation: scaley 150ms ease-in forwards;
}

@keyframes scaley {
  98% {
    transform: scaleY(1.2);
  }
  to {
    transform: scaleY(1);
  }
}

#panel .status-popup > * {
  padding: 0.8rem 5rem;
  width: 100%;
}

#panel .status-popup > *:not(:last-child) {
  border: unset;
  /* border-bottom: 1px solid rgba(17, 34, 34, 0.063); */
}

.status-popup + .comment-box {
  margin-top: 4.5rem;
}

.status-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 70%;

  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;

  border: 0.5px solid #111;

  border-radius: 4px;

  margin: 5px 0 5px 0;

  transform-origin: center center;
}

.status-popup > span {
  padding: 0.5rem 1rem;
  flex: 1 1 0;
}

.status-popup a {
  text-decoration: none;
  font-size: 0.9rem;

  color: #999;
}

.status-popup > span:hover {
  background-color: #191919;
  text-transform: uppercase;
  border-radius: 2rem;
}

.status-popup > span:hover a {
  color: #ddd;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  border: 0.5px solid rgba(17, 34, 34, 0.076);
  box-shadow: 0.5px 0.5px 20px rgba(17, 34, 34, 0.083);
  background-color: #fff;
}

.comment:not(:first-child) {
  /* margin-top: 5px; */
  border-top: 0.5px solid rgba(17, 34, 34, 0.179);
}

.comment-box .comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  position: relative;
  padding: 2rem 3.5rem 0.8rem 3.5rem;
  z-index: 1;
}

.comment-box .comment::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  width: 100%;
  height: 100%;

  transform-origin: center;
}

.comment-box .comment:hover::before {
  background-color: #892be272;
  transform: scale(1);
  transition: all 200ms ease-in-out 100ms;
}
.comment-box .comment:not(:hover)::before {
  background-color: transparent;
  transform: scale(0);
  transition: all 200ms ease-in-out 200ms;
}
.comment .status-info {
  background-color: rgba(17, 34, 34, 0.019);
  padding: 5px 2px;
  margin: 0;
  border: none;
}

/* .comment .status */

.comment .status-info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0rem;
}

.comment .status-info .date,
.comment .status-info .edited,
.comment .status-info .replies {
  background-color: transparent;
  color: rgba(17, 34, 34, 0.809);
  font-weight: 700;

  border: unset;
  padding: unset;
  border-radius: unset;
}

.comment .status-info .username {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  flex: 1 0 0;
}

.comment .status-imgInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem 1.5rem 0.3rem 1rem;
}

.status-imgInfo .user-image-box {
  clip-path: circle(50% at 50% 50%);
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
}

.status-imgInfo .user-image-box img {
  width: 5rem;
  height: 5rem;
}

.status-imgInfo a {
  align-self: center;

  text-decoration: none;
  color: unset;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.status-imgInfo .com-ply-content {
  padding: 0 0 0 2rem;
}

.comment .comment-dialog {
  width: 35%;

  border-radius: 5rem;
  border: none;

  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;

  overflow: hidden;
  background-color: rgba(71, 255, 126, 0.419);
  background-color: rgba(17, 34, 34, 0.026);
}

.comment .comment-dialog > * {
  width: 100%;
  padding: 0.8rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(17, 34, 34, 0.768);
  text-transform: lowercase;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
}

.comment .comment-dialog > *:hover {
  background-color: rgba(71, 255, 126, 0.2);
  color: green;
}

.comment .comment-dialog > .delete:hover {
  background-color: rgba(255, 99, 71, 0.309);
  color: red;

  font-weight: normal;
  text-transform: uppercase;
  line-height: 0;
}

.read-more {
  display: inline-block;

  padding: 0 3px;
  border-radius: 2px;
  margin-left: 5px;

  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;

  color: #f7f7f7;
  background-color: #191919;
}

.read-more::before {
  content: "read more";
}

.alert {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  z-index: 1100000000000000000000000000000;

  background-color: #eee;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.success,
.error {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 1rem 2.5rem;
  gap: 0.5rem;
  color: rgba(17, 34, 34, 0.741);
}

.success {
  background-color: rgba(71, 255, 126, 0.138);
  color: green;
}

.error {
  background-color: rgba(255, 99, 71, 0.159);
  color: red;
}

.success :last-child,
.error :last-child {
  font-weight: normal;
  color: #122;
}

footer {
  width: 100%;
  align-self: center;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #222;
  background-color: #000;

  margin-top: auto;
}

footer h2 {
  /* display: inline-block; */
  color: blueviolet;
  font-weight: normal;
  font-size: 1.1rem;
}

.shift {
  animation: shift 200ms linear both;
}

@keyframes shift {
  to {
    transform: translateX(-50%);
  }
}

.unshift {
  animation: unshift 200ms linear both;
}

@keyframes unshift {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

/*  */
/*  */

body#profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: blueviolet;

  color: #eee;
  padding: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  gap: 1.5rem;

  background-image: url("../img/1594542349549_collage.jpg"),
    radial-gradient(circle, #111 50%, #111 80%);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* background-blend-mode: soft-light; */
  height: 50vh;
  width: 100%;
  padding: 1rem 2rem;
}

.profile .profile-image-box {
  position: relative;
  clip-path: circle(50%);
  width: 15rem;
  height: 15rem;
}

.profile .blend {
  background-image: linear-gradient(
    to bottom,
    rgba(137, 43, 226, 0.118),
    rgba(137, 43, 226, 0.076)
  );
  width: 100%;
  height: 100%;
}

.profile-image-box .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: 0.7rem solid rgb(50, 205, 50);
  mix-blend-mode: soft-light;
}

.profile .username {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  color: #fff;
  background-color: #191919;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.7;

  padding: 0rem 0rem 0rem 2rem;
  border-radius: 1rem;
}

.profile .username a {
  position: relative;

  line-height: 0;

  height: calc(100%);
  width: 5rem;
  border-left: 2px solid #444;

  overflow: hidden;
}

.profile .username a svg {
  width: 3rem;
  height: 3rem;
  fill: #444;
}

/* #bg-picture::-webkit-file-upload-button {
  visibility: hidden;
} */

.picture-form {
  padding: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  background-color: rgba(255, 255, 255, 0.097);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.picture-form label[for="bg-picture"] svg,
.picture-form label[for="profile-picture"] svg {
  fill: #fff;
}

.picture-form input[id="bg-picture"],
.picture-form input[id="profile-picture"] {
  display: none;
}

.picture-form button {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: none;
  border: none;
}

.sub-nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background-color: #111;
  width: 100%;
  padding: 2rem 4rem 1rem 4rem;
  backface-visibility: hidden;

  position: sticky;
  top: 0;
  z-index: 40000000000000000000000000000000000000000000000000000000000000000;
}

.sub-nav li {
  list-style: none;
}

.sub-nav-list {
  display: flex;
  width: 50%;

  /* border-top: 2rem solid transparent; */

  overflow-x: scroll;
}

.sub-nav label,
.sub-nav-list a {
  display: block;
  padding: 1.5rem 2.5rem;
  border-radius: 10px;

  font-size: 1.5rem;
  font-weight: 700;
  color: #999;

  transition: all 200ms ease 100ms;
  transform-origin: center center;
}
/* .sub-nav label[for="more"] {
 
} */

.sub-nav label:hover,
.sub-nav-list a:hover {
  background: #191919;
  backdrop-filter: blur(3px);
}

.sub-nav label.active-sub-nav-label,
.sub-nav-list a.active-sub-nav-label {
  background: blueviolet;
  backdrop-filter: blur(3px);
  color: #fff;

  transition: all 500ms ease 100ms;
  transform-origin: center center;

  outline: none;
  border: none;
}

/* .sub-nav label[for="more"] {
   background-color: #fff;
  position: absolute;
  right: 0%; 
} */

.sub-nav-icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-left: auto;

  transform: translate(0, -50%) scale(0.8);

  height: 7rem;
  width: 7rem;
  border-radius: 50%;

  background-color: rgba(137, 43, 226, 0.138);
  backdrop-filter: blur(0px);

  overflow: visible;

  animation: bubble 2000ms ease-in infinite forwards;
  z-index: 112233344455;
}

.sub-nav-icon svg {
  width: 4rem;
  height: 4rem;
  fill: blueviolet;
}

@keyframes bubble {
  50% {
    transform: translate(0, -50%) scale(1);
    background-color: rgba(137, 43, 226, 0.138);
    backdrop-filter: blur(10px);
    animation-timing-function: ease-in;
  }
}

input[name="sub-nav-radio"] {
  display: none;
  /* appearance: none;
  border: 2px solid #fbad00;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  transition: border 200ms linear 100ms; */
}
/* input[name="sub-nav-radio"]:checked {
   border: 5px solid #fbad00; 
} */

/* input[name="sub-nav-radio"] + section, */
.sub-nav-section {
  display: flex;
  justify-content: center;
  padding: 1rem 10rem 2rem 10rem;
  gap: 5rem;

  background-color: #111;
  width: 100%;
}

/* input[name="sub-nav-radio"] + section:not(.more), */
.sub-nav-section:not(.more) {
  min-height: 100vmax;
}

/* .sub-nav  */
.sub-nav-section.more {
  position: absolute;
  top: 110%;
  left: 50%;
  /* transform: translateX(-50%); */
  width: 40%;
  height: max-content;
  background-color: #191919;
  z-index: 1;
  box-shadow: 2px 2px 10px #191919;
}

.sub-nav-section.overview .left {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: #fff; */
}

.left_box {
  display: flex;
  flex-direction: column;

  background-color: #191919;
  backdrop-filter: blur(3px);
  width: 100%;
  padding: 1rem 4rem 4rem 4rem;
  gap: 1rem;
  border-radius: 2rem;

  color: #fff;
  line-height: 1.7;
  font-size: 1.2rem;
}

.overview_heading {
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  color: #999;
}

.overview_heading label,
.overview_heading a {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  color: #7828c4;
  font-size: 1.2rem;
  position: relative;
}

.overview_heading label svg,
.overview_heading a svg {
  fill: rgba(137, 43, 226, 0.289);
}

#about-overview_content {
  align-self: center;
  text-align: left;
  text-transform: capitalize;
  color: #999;
  width: 90%;
}

#about-overview_content .list-item {
  list-style: none;
  display: flex;
  padding: 0.3rem 0;
  /* align-items: center; */
}

#about-overview_content .list-item .list-item_left {
  width: 40%;
  font-weight: 700;
}

#about-overview_content .list-item .list-item_right {
  width: 60%;
  color: #999;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1;
}

#friends-overview_content {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.3rem;
  flex-wrap: wrap;
}

#friends-overview_content .user-info {
  list-style: none;
  width: 48%;
  border: 1px solid blueviolet;
}

#friends-overview_content [class$="follow"] {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;

  padding: 1rem;

  align-self: center;
  margin-left: auto;
}

#friends-overview_content .follow .icon {
  fill: rgba(50, 205, 50, 0.37);
}

#friends-overview_content .unfollow .icon {
  fill: rgba(255, 99, 71, 0.37);
}

#photo-overview_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#photo-overview_content .photo-overview_content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  gap: 1rem;
  overflow: scroll;
}

#photo-overview_content .photo-overview_content * {
  list-style: none;
  min-width: calc((100% / 3) - 1rem);
  height: 9rem;

  border-radius: 1rem;
}

.sub-nav-section.overview .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sub-nav-section.about form {
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding: 2rem 10rem;
  border-radius: 4rem;
  border: 1px solid #191919;
}

.sub-nav-section.about form > fieldset {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;

  border: none;

  width: 100%;
  height: 100%;
}

.sub-nav-section.about form #about_list {
  display: flex;
  flex-direction: column;
}

#about_list .about_list_item:not(:last-child) {
  margin-bottom: 2rem;
}

.about_list_item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 3rem;
  padding: 1rem 4rem 2rem 4rem;
  overflow: hidden;
  background-color: #191919;
}

.about_list_item .about_heading {
  display: inline;
  font-weight: 700;
  font-size: 2rem;
  color: #999;
  margin-bottom: 1rem;
}

.about_list_item label[for^="about-"] {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 4rem;
}

input[type="checkbox"][id^="about-"] {
  display: none;
}

input[type="checkbox"][id^="about-"] + label {
  margin-bottom: 1rem;
  transition: all 200ms linear;
}

input[type="checkbox"][id^="about-"]:checked + label {
  transform: rotate(180deg);
}

input[type="checkbox"][id^="about-"]:not(:checked) + label {
  transform: rotate(360deg);
}

input[type="checkbox"][id^="about-"] ~ .about-content {
  transition: all 200ms ease;
  transform-origin: center top;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="checkbox"][id^="about-"]:checked ~ .about-content {
  opacity: 1;
  transform: scaleY(1);
}

input[type="checkbox"][id^="about-"]:not(:checked) ~ .about-content {
  height: 0rem;
  opacity: 0;

  transform: scaleY(0);
}

input[id^="edit-about-content"] {
  display: none;
}
label[for^="edit-about-content"] {
  margin-left: auto;
}

input[id^="edit-about-content"]:checked
  + label[for^="edit-about-content"]::after {
  content: "disable";
  display: inline-block;
  color: #999;
}

input[id^="edit-about-content"] + label[for^="edit-about-content"]::after {
  content: "edit";
  display: inline-block;
  color: #999;
}

.about-content fieldset {
  border: none;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 0 4rem;
}

.info-list li label,
.info-list li select {
  width: 30%;
  align-self: stretch;
  font-size: 1.3rem;
  font-weight: 400;
  color: #999;
}

.info-list li select {
  background-color: transparent;
  border: none;
  outline: none;
}

.info-list li select option {
  background-color: #191919;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}
.info-list li input {
  background-color: transparent;
  color: #ddd;
  width: 60%;
  font-size: 1.5rem;
  font-weight: 400;
  align-self: stretch;
  border: none;
  border-bottom: 1px solid limegreen;
  outline: none;
}
